---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8">
    <h1 class="text-4xl font-quintessential text-slate-100 mb-8">About</h1>
    <p class="text-slate-100">
      I don't know where I'm going, but I know exactly how to get there.
    </p>
  </div>
</Layout>
