---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8 md:max-w-2xl">
    <h1 class="text-4xl font-quintessential text-slate-100 mb-8">About</h1>
    <p class="text-slate-100">
      Alex Dollard was born in Rochester, NY and will be the first to admit he
      does not know what he is doing. He means well. The day may come when he is
      able to narrow the focus of this blog to something specific but that day
      is a long way away.
    </p>
    <br />
    <p class="text-slate-100">alexdollard141@gmail.com</p>
  </div>
</Layout>
