---
// ./src/pages/post/[slug].astro
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import Layout from "../../layouts/Layout.astro";
import PortableText from "../../components/PortableText.astro";

export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post } = await loadQuery<SanityDocument>({
  query: `*[_type == "post" && slug.current == $slug][0]{
    title,
    slug,
    publishedAt,
    excerpt,
    mainImage {
      asset->{
        _id,
        url
      }
    },
    body
  }`,
  params,
});
---

<Layout>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8">
    <article class="prose prose-lg mx-auto">
      <h1 class="text-4xl font-bold text-gray-900 mb-4">{post.title}</h1>
      {
        post.mainImage && (
          <img
            src={post.mainImage.asset.url}
            alt={post.title}
            class="w-full h-48 object-cover"
          />
        )
      }
      <PortableText portableText={post.body} />
    </article>
  </div>
</Layout>
