---
// ./src/pages/post/[slug].astro
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import Layout from "../../layouts/Layout.astro";
import PortableText from "../../components/PortableText.astro";

export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  console.log(posts);
  return posts.map((post) => {
    console.log(post.slug.current);
    return {
      params: {
        slug: post.slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post } = await loadQuery<SanityDocument>({
  query: `*[_type == "post" && slug.current == $slug][0]{
    title,
    slug,
    publishedAt,
    excerpt,
    mainImage {
      asset->{
        _id,
        url
      }
    },
    body
  }`,
  params,
});
---

<Layout>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8">
    <article class="prose prose-lg mx-auto rounded-lg blog-card">
      <h1 class="text-4xl font-quintessential text-gray-900 mb-4 p-4 pt-8">
        {post.title}
      </h1>
      {
        post.mainImage && (
          <img
            src={post.mainImage.asset.url}
            alt={post.title}
            class="w-full h-48 object-cover p-4"
          />
        )
      }
      <div class="px-6 pb-8">
        <PortableText portableText={post.body} />
      </div>
    </article>
  </div>
</Layout>

<style>
  .blog-card {
    background-color: #f4f4f4;
  }
</style>
