---

---

<nav class="bg-transparent">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-center">
      <div class="flex space-x-7">
        <div class="flex items-center py-4 px-2">
          <a href="/" class="font-bold text-slate-800 text-xl">T.W.A.T. </a>
        </div>
        <div class="flex items-center py-4 px-2">
          <a href="/about" class="font-bold text-slate-800 text-xl">About </a>
        </div>
      </div>
    </div>
  </div>
</nav>
