---
// ./src/layouts/Layout.astro
import { VisualEditing } from "@sanity/astro/visual-editing";
import Navbar from "../components/Navbar.astro";
import backgroundImage from "../assets/background1.png";

const visualEditingEnabled =
  import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == "true";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/twat.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap"
      rel="stylesheet"
    />
    <title>T.W.A.T. | This Week in AlexTown</title>
    <style>
      /* Critical CSS for background */
      .bg-pattern {
        background-image: url("/background1_dust-mobile.webp");
        background-position: center;
        background-repeat: repeat;
        background-attachment: local;
        min-height: 100vh;
        position: relative;
      }

      @media (min-width: 640px) {
        .bg-pattern {
          background-image: url("/background1_dust-tablet.webp");
        }
      }

      @media (min-width: 1024px) {
        .bg-pattern {
          background-image: url("/background1_dust.webp");
          background-attachment: fixed;
          background-size: cover;
        }
      }
    </style>
  </head>
  <body class="bg-pattern">
    <div class="font-serif">
      <Navbar />
      <slot />
      <VisualEditing enabled={visualEditingEnabled} />
    </div>
  </body>
</html>
